<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Application Confirmation</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body>
        {% include 'nav.html' %}
        <div class="container mt-4">
            <h3>Application Successful!</h3>
            <h4>Job Position: {{ applicant.job_title }}</h4><br/>
            <p>Thank you for your interest. Here is an overview of the data we received:</p>

            <strong>Name:</strong> {{ applicant.name }}<br/><br/>
            <strong>Email:</strong> {{ applicant.email }}<br/><br/>
            <strong>LinkedIn URL:</strong> <a href="{{ applicant.linkedin }}">{{ applicant.linkedin }}</a><br/><br/>
            <strong>Education:</strong><pre><br/>{{ applicant.education }}</pre>
            <strong>Experience:</strong><pre><br/>{{ applicant.experience }}</pre>
            <strong>Resume:</strong> <a href="{{ url_for('uploaded_file', filename=applicant.resume) }}" target="_blank">View Resume</a><br/><br/>

            <p>Your application is now under review. Stay posted in our portal for updates.</p>
            <p>Go to 'Monitor Application' and search for your name as entered in the form.</p>
        </div>
        {% include 'footer.html' %}
    </body>
</html>
