<nav class="navbar shadow-sm fixed-top bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('bytezen') }}">
      <img src="/static/logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      ByteZen
    </a>
    <div class="d-flex align-items-center">
      <a href="{{ url_for('applicant_tracking') }}" class="btn btn-outline-primary me-2">Applicant Tracking</a>
      <a href="{{ url_for('admin_login') }}" class="btn btn-outline-secondary">Login as Admin</a>
    </div>
  </div>
</nav>
<div style="height:56px;"></div> <!-- This div is used to offset the content below the fixed navbar -->